{% extends 'layout.html' %}
  
{% block title %} {{ referee['referee_name'] }} {% endblock %}
  
{% block content %}

<table class="table">
    <thead class = "thead-dark" >
      <tr>
 
        <th scope="col">Home Team</th>
        <th scope="col">Away Team</th>
       
        
      </tr>
    </thead>
    <tbody>
       {% for game in games %} 
        <tr>
            
            <td>{{ game[ 'home_team_name' ] }}</td>
            <td>{{ game[ 'away_team_name' ] }}</td>
            


        </tr>
       {% endfor %}
    
      
     
    </tbody>
  </table>

{% endblock content%}